{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-ruby"],
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.erb",
      "options": {
        "parser": "html",
        "singleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": false,
        "arrowParens": "avoid",
        "bracketSameLine": false
      }
    }
  ]
}
